<initial>
  <MatrixRes>100</MatrixRes>
  <NumRows>900</NumRows>
  <NumCols>900</NumCols>
  <interval_of_point>1</interval_of_point>
  <layer_interval_scale>10</layer_interval_scale>
  <interval_of_line_layer>1</interval_of_line_layer>
  <distance_medialaxis_contour>1</distance_medialaxis_contour>
  <iteration_number>100</iteration_number>
  <use_medial_axis>false</use_medial_axis>
  <use_normalize_for_points>false</use_normalize_for_points>
  <show_vertex_on_edge>true</show_vertex_on_edge>
  <use_length_energy>true</use_length_energy>
  <contour_distance_threshold>1</contour_distance_threshold>
  <point_scale>2</point_scale>
  <contour_length_threshold>60</contour_length_threshold>
  <contour_pointnum_threshold>30</contour_pointnum_threshold>
  <point_distance_scale>3</point_distance_scale>
  <boundary_coverage_rate_threshold>0.0001</boundary_coverage_rate_threshold>
  <use_open_mp>true</use_open_mp>
  <thread_num>8</thread_num>
  <gap_threshold>8</gap_threshold>
  <use_contour_smooth>false</use_contour_smooth>
  <show_contour_surface>false</show_contour_surface>
  <write_shape_triangle_to_data>false</write_shape_triangle_to_data>
  <write_shape_points_to_data>true</write_shape_points_to_data>
</initial>
<debug>
  <debug_contour_arrangement>false</debug_contour_arrangement>
  <debug_registration>false</debug_registration>
</debug>
<datasource>
  <file_name>../layer/WBPETCT3D_new</file_name>
</datasource>



